* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  justify-content: center;
}
.nav-center {
  display: flex;
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}
.nav-menu {
  width: auto;
  height: 70px;
}
.logo {
  height: 70px;
  background-position: center;
  justify-content: flex-end;
}
.nav-center > :first-child {
  margin-right: auto;
}
.nav {
  display: flex;
  float: right;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
}
header div nav ul li {
  float: left;
  width: 120px;
  line-height: 70px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

main {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  color: #fafafa;
  text-align: center;
}
.main-logo {
  padding-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 64px;
}
.main-message {
  padding-top: 10px;
  font-size: 20px;
}

section {
  background-color: #eceff1;
  justify-content: center;
}
.container {
  /* width: 920px; */
  width: 1024px;
  margin: 0 auto;
}
.heading {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 8px;
  font-size: 32px;
  color: #000000;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}
.heading-text {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  color: #000000;
}
.production-group {
  width: 960px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: contain;
  background-position: center;
}
.production:nth-child(-n + 3) {
  margin-top: 0;
}
.bg-1 {
  background-image: url(img/sketch.jpg);
}
.bg-2 {
  background-image: url(img/websuku.png);
}
.bg-3 {
  background-image: url(img/write.jpg);
}
.bg-4 {
  background-image: url(img/webcamp.png);
}
.bg-5 {
  background-image: url(img/talk.jpg);
}
.bg-6 {
  background-image: url(img/webcamp-mother.png);
}

.strength-group {
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
  display: flex;
}
.strength {
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}
.strength:last-child {
  margin-right: 0;
}
.fas {
  font-size: 60px;
}
.strength-title {
  padding: 10px 0;
  font-size: 20px;
}
.strength-text {
  text-size: 16px;
  text-align: left;
}
